
.block__wrapper{
    padding: 45px 0 80px 0;
    position: relative;

    &--container{
        background-color: #fff;
        height: 100%;
        &:focus{
            outline-color: orange;
        }
    }

    &--image{
        width: 100%
    }
    
    &--item{
        width: 230px;
        padding: 5px;
    }
    
    &--title{
        line-height: 1.2;
        padding: 35px 20px 17px 20px;
    }

    &--ratings{
        display: flex;
        justify-content: center;
        padding: 0 0 5px 0;

        .ratings {
            margin-left: 5px;
        }
    }

    &--tags {
        word-break: break-all; 
        color: rgba(4,4,5,.5);
        font-size: 13px;
        line-height: 1.4;   

        .tag{
            display: inline-block;
            padding: 0 3px;
            margin: 0;
            font-size: 12px;
        }                                
    }

    &--text-one{
        font-weight: 600;
    }
        
    &--text-two{
        font-size: 13.5px;
        font-weight: 500;
        line-height: 1.8;
        padding: 13px 6px;
    }
        
    &--button{
        background-color:#ececec;
        color: #323232;
        margin-top: 12px;
        
        &:hover{
            color: #323232;
            background-color: $color-one;
        }
    }
}

.stars {
    text-align: center;
  }
  
  .star {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
    position: relative;
  }
  
  .min-star {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    z-index: 1;
    background-color: $color-two;
  }
  
  .star {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  }
  
 