@media screen and (max-width:1399px){

    .video__slider{
        overflow-x: scroll;

        &--item:first-child{
            margin-left: 0;
        }

        &--play {
            width: 100%;
            height: 100%;
        }
        
        .row{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width:991px){

    .contact{

        &__map{
            height: 350px;
        }

        &__info {
            margin: auto;
        }

        &__title2{
            text-align: center;
        }
    }

    .banner .container, .life .container, .welcome .container, .container{
        width: auto;
   }
}

@media screen and (max-width:767px){
   
    h3.banner__info--title, h1.section-title, h2.section-title {
        font-size: 2em;
    }  

    .welcome__info--text, .banner__info--text {
        font-size: 1em;
    }

    .button{

        &:hover{
            background-color: $bgcolor;
            color: $color;
        }

        &:focus{
            outline:none;
        }
    } 

    input:focus, textarea:focus  {
        outline: none;
    }

    a:focus{
        outline: none;
    }
    .header{

        &__logo {
            text-align: center;
            &:hover{
                color: #fff;
            }
            &--refer:hover {
                animation: none;
                color: #ffe26d;
            }
        }

        &__menu {
            padding: 0;
            float: none;
            text-align: center;

            &--nav {
                padding: 0;
                float: none;
            }

            &--refer {
                padding: 5px 15px;

                &:hover {
                    color: #ffe26d;
                    transform: none;
                }
            }
        }

    }
    .banner{

        &__circles--entity:hover{
            transform: none;
            opacity: .5;
        }

        &__info{

            &--title, &--text, &--button{
                animation: none;
            }
        }
    }
    
    .welcome__wrapper--item {
        margin: auto;
        width: 25%;
        padding: 30px 0;
}

    .projects__wrapper{

        &--button:hover {
        background-color: #fefefe;
        }

        &--item{
            &:hover {
                background-color: #efefef;
            
                &:nth-child(2n+1) {
                    background-color: #e4e4e4;
                }
            }
        }
    }

    .pricing__wrapper--item:hover .pricing__wrapper--container {
        transform: none;
    }

    .team .w-100{
        display:none;
    }

    .team__people--background {
        left: 50px;
    }

    .video__slider{

        .row {
            width: 1000px;
        }

        &--item {
            max-width: 320px;
        }

        &--image {
            width: 100%;
            height: 193px;
        }

        &--play{

            &:hover {
                background-color: rgba(0,0,0,0);
            }

            img {
                width: 25%;
                &:focus {
                    animation: none;
                    outline: none;
                }
            }
        }
    }

    .life__slider{
        &--left-arrow:hover, &--right-arrow:hover {
            background-color: #2a2a2a;
        }
        &--left-arrow:focus, &--right-arrow:focus {
            outline: none;
        }
    }
    .block__wrapper{

        &--button:hover {
        background-color: #ececec;
        }

        &--container:focus {
        outline: none;
        }
    }

    .block__wrapper--container:focus, 
    .block__wrapper--item:first-child .block__wrapper--container:focus, 
    .block__wrapper--item:last-child .block__wrapper--container:focus{
        position: relative;
        transform: none;
        width: auto;
    }

    .footer__wrapper--container .footer__wrapper--unit .footer__wrapper--link:hover .footer__wrapper--icon {
        color: #000;
        transform: none;
    }
}

@media screen and (max-width:575px){
    
    .container {
        padding: 0 40px;
    }

    .banner {

        .container .row:first-child {
            padding-bottom: 80px;
        }

        &__info{
            text-align: center;
        }
    }

    .welcome__wrapper{
        padding: 0;
    }

    .welcome__info--text {
        text-align: center;
    }

    .projects__wrapper{

        &--item {
            max-width: 320px;
            margin: auto;
            margin-bottom: 30px;
        }

        &--info{
            padding: 40px;
        }

        &--info, &--title, &--text {
            text-align: center;
        }
    }

    .pricing__wrapper--item {
        border: none;
        margin: auto;
        padding: 30px 0;
    }

    .team__people--item:hover .team__people--background {
        transform: none;
        visibility: hidden;
        opacity: 0;
    }

    .block__wrapper--item {
        padding: 30px 0;
    }

    .block__wrapper--image {
        max-width: 320px;
    }

    .footer__wrapper--item {
        margin: auto;
        padding: 30px 0 40px 0;
    }
}

@media screen and (max-width:425px){

    .banner .container .row:first-child {
        padding-bottom: 70px;
    }

    .contact__map{
        height: 300px;
    }
}