.project{
    display: inline-block;
    &__title2 {
        margin: 50px 6px 54px 0;
    }
    &__info{
        padding: 40px 20px 45px 45px;
    }
    &__item{
        @include items(25%);
        float: left;
            background-color: #efefef;
        &--title{
            @extend .paragraf--title;
            text-align: left;
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
        &--text{
            @extend .paragraf--text-one;
            text-align: left;
            margin: 10px 0 12px 0;
            padding: 0;
        }
        &:nth-child(2n+1) {
            background-color: #e4e4e4;
        }
        &:hover {
            background-color: $bgcolor;
            cursor: pointer;
        }
        &:hover button{
            background-color: $bgcolor-hover;
            color: $color-hover;
        }
        &--button{
            @extend .button;
            @extend .button--largest;
            background-color: #fefefe;
        }
    }    
}