$width-body:1400px;
$winth-container:700px;

/*цвет*/
$bgcolor:#ffe26d;
$bgcolor-hover:#62497c;
$color-one:#ffe26d;
$color-two:#62497c;
$color:#323232;
$color-hover:#ffffff;

/*шрифт*/
$font-stack:'Montserrat', sans-serif;
$font-text-one:Helvetica;
$font-text-two:roboto;
$text-transform:uppercase;

/*кнопки*/
$button-border-radius:2.9px;
$button-font-size:10.5px;
$button-font-weight: 800;