*{
    font-family: $font-stack;
}
body{
    width: $width-body;
    margin: 0 auto;
}
.container{
    width: $winth-container;
    margin: 0 auto;
}
.item--display{
    display: flex;
    justify-content: space-between;
}