<router-outlet></router-outlet>
<button class="button-form" routerLink="reactiveForms">reactiveForms</button><br>
<button class="button-form" routerLink="templateDriven">templateDriven</button>

<div class="battleship">
  <h1>{{title}}</h1>
  <div class="player">
    <div class="title">Игрок</div>
    <app-battlefield class="field player"></app-battlefield>
  </div>
  <div class="computer">
    <div class="title">Компьютер</div>
    <app-battlefield class="field computer"></app-battlefield>
  </div>
</div>
<app-helpers></app-helpers>