.y{
    display: flex;
}
.axisX {
    display: flex;
    justify-content: flex-end;
}
.numberx{
    display: inline-block;
    width: 18.5px;
    padding: 3px;
}
.numbery {
    margin: auto;
    padding: 3px;
}