.blog {
    padding: 26px 0 81px 0;
    .container{
        width: $winth-container+100px;
        display: flex;
        justify-content: center;
        padding-top: 12px;
    }
    &__item{
        width: 230px;
        text-align: center;
        padding: 5px;
        transition: 0.2s;
        &:focus{
            transform: scale(1.2);
            position: absolute;
            background-color: #fff;
            z-index: 11;
        }
        &--title{
            @extend .paragraf--title;
            line-height: 1.2;
            margin-top: 30px;
            padding: 0 20px;
            margin-bottom: 17px;
        }
        &--text-one{
            @extend .paragraf--text-one;
            font-weight: 600;
        }
        &--text-two{
            @extend .paragraf--text-two;
            font-size: 13.5px;
            font-weight: 500;
            line-height: 1.8;
            padding: 0 6px;
        }
        &--button{
            @extend .button;
            @extend .button--normal;
            background-color:#ececec;
            color: #323232;
            margin-top: 12px;
            &:hover{
                color: #323232;
                background-color: $color-one;
            }
        }
    }
}