/* Шапка */
header{
    position: absolute;
    width: $width-body;
    top: 0;
    z-index: 10;
    padding: 35px 0 10px 0px;
    .container{
        display: flex;
        justify-content: space-between;
   
    .logo{  
        a{
            color: #ffffff;
            text-decoration: none;
            font-size: 29.5px;
            font-weight: bold;
            letter-spacing: -1.95px;
            line-height: 1;
            display: inline-block;
            &:hover{
                animation: blink 0.4s infinite alternate;
                transform-origin: center;
            @keyframes blink {
                0% {
                    color: $color-one;
                }  
                100% {
                    color: $color-two;
                }
            } 
            }
        }
    }
    nav{
        .nav-menu{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                padding: 11px 3px 13px 27px;
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 10.5px;
                    font-weight: bold;
                    line-height: 0.67;
                    text-align: left;
                    text-transform: $text-transform;
                    letter-spacing: -0.1px;
                    display: inline-block;
                    transition: 0.4s;
                    &:hover{
                        color: $bgcolor;
                        transform: scale(1.4);
                    }
                    &.active{
                        color: $bgcolor;
                    }
                }
            }
        }
    }
}
}