.video{
    background-color: $color-two;
    padding: 50px 0 96px 0;
    overflow: hidden;
    &__title2{
        color: #fefefe;
        letter-spacing: -0.4px;
        margin-bottom: 28px;
    }
    &__slider {
        width: 5000px;
        padding-top: 10px;
        display: flex;
    }
    &__item {
        margin-right: 37px;
        &:first-child {
            left: -42px;
            margin-left: -375px;
        }
        &:last-child{
            width: 630px;
        }
        &--img{
            position: relative;
        }
        &--play{
            width: 100%;
            height: 99%;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            transition: 0.4s;
            &:hover{
                background-color: rgba(0, 0, 0, 0.4);
            }
            img{
                align-self: center;
                &:focus{
                    animation: beat 0.65s infinite alternate;
                    transform-origin: center;
                @keyframes beat {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                    }    
                    100% {
                        transform: scale(1);
                    }
                }
                }
            }
        }
        &--title{
            @extend .paragraf--title;
            color: #fefefe;
            font-size: 10.5px;
            text-align: left;
            & time{
                float: right;
            }
       }
    }
}