.team__people{
    padding: 45px 0 87px 0;

    &--item{
        text-align: center;
        margin-bottom: 40px;
        position: relative;
    } 
    
    &--background{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 34px;
        width: 172px;
        height: 172px;
        border-radius: 100px;
        background-color: rgba(98, 73, 124,0.7);
    }

    &--img{
        border-radius: 100px;  
    }

    &--info {
        padding: 67px 0;
    }
    
    &--link{
        padding: 17px 0;
    }

    &--icon{
        color: #fff;
        width: 53px;
    }

    &--title{
        padding: 13px 0 0;
    }

    &--text{
        color: rgba(4, 4, 5, 0.6);
        font-family: Montserrat;
        font-size: 14.5px;
        opacity: 0.39;
        font-weight: 700;
        margin-top: 0;
    }
}
